
.nav-div {
  margin-left: 0px;
}

#header-nav {
  background-color: #ff5a5a;
  border-radius: 0;
  margin: 0px;
  
}
#header-nav h1 {
   color: #ffffff;
   font-size: 100%;
   margin-top: 0px;
   margin-left: 0px;
}
.navbar-brand {
   font-family: 'Raleway', serif;
}

#nav-list {
  background-color: #ff8362;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Raleway', serif;
}
#nav-list a {
  color: #ffffff;
  width: 100%;
  font-family: 'Raleway', serif;
}
#nav-list a:hover {
  background: #E7E7E7;
  font-family: 'Raleway', serif;
  color:#000000;
}

#collapsable-nav {
  clear: both;
  margin-top: 0px;

}

#nav-list li {
   border: solid white 1px;
}

h2 {
  
  font-size: 200%; 
  font-family: 'Raleway', serif;
}

h3 {
    padding: 2px;
    font-family: 'Raleway', serif;  
    font-weight: bold;
}

p { 
  clear: right;
  padding: 10px;
  font-family: 'Raleway', serif;
}

section {  
  height: auto;
}

.tile {
  padding-top:5px;
  background: #AFEEEE;
  height: auto;
  margin:10px;

}

#n1 {
margin-left: 40px;
}

#n3 {
margin: 10px 40px 40px 10px;
}

header {
  background-color: #e8ff6a;
  padding: 15px 0px 20px 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}
