
.nav-div {
  margin-left: 0px;
}

#header-nav {
  background-color: #ff5a5a;
  border-radius: 0;
  
}
#header-nav h1 {
   color: #ffffff;
   font-size: 100%;
   margin-top: 0px;
   margin-left: 0px;
}
.navbar-brand {
  margin-left: 0;
  font-family: 'Raleway', serif;
}

#nav-list {
  background-color: #ff8362;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Raleway', serif;
}
#nav-list a {
  color: #ffffff;
  width: 100%;
  font-family: 'Raleway', serif;
}
#nav-list a:hover {
  background: #E7E7E7;
  font-family: 'Raleway', serif;
}

#collapsable-nav {
  clear: both;
  margin-top: 0px;

}

#nav-list li {
   border: solid white 1px;
}

h2 {
  margin: 30px 0px 30px 0px;
  font-size: 175%; 
  font-family: 'Raleway', serif;
}

h3 {
    padding: 2px;
    font-family: 'Raleway', serif;  
}

p { 
  clear: right;
  padding: 10px;
  font-family: 'Raleway', serif;
}

section {
  padding-top:5px;
  background: #AFEEEE;
  height: 1000px;
}

